extend layout
block title
  title Home - 3D/4D Fractals

block content
  h1.resultsTitle Welcome
  div.resultsPanel
    p This website serves to organize and explain the details of our 3D/4D Fractal project for our Advanced Graphics course.  Downloads of the project source code, presentation slides, and paper are in the navigation bar.

    p In this project we explored two specific methods of fractal generation, one being Quaternion Julia Fractals which are similar to a Julia set but with four dimensional complex numbers, the other being a three dimensional take on Fractal Flames.  Descriptions of each of these methods can be found in the corresponding pages.

    div.picContain
      img.pictureCenter(src='./images/animation1.gif')